@font-face {
	font-family: 'Gotham Pro Bold';
	src: local( 'Gotham Pro Bold' );
	src: url( '../assets/fonts/Gotham-Pro/GothamPro-Bold.eot' );
	src:
		url( '../assets/fonts/Gotham-Pro/GothamPro-Bold.eot?#iefix' )
			format( 'embedded-opentype' ),
		url( '../assets/fonts/Gotham-Pro/GothamPro-Bold.woff' ) format( 'woff' ),
		url( '../assets/fonts/Gotham-Pro/GothamPro-Bold.ttf' )
			format( 'truetype' );
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Gotham Pro Regular';
	src: local( 'Gotham Pro Regular' );
	src: url( '../assets/fonts/Gotham-Pro/GothamPro.eot' );
	src:
		url( '../assets/fonts/Gotham-Pro/GothamPro.eot?#iefix' )
			format( 'embedded-opentype' ),
		url( '../assets/fonts/Gotham-Pro/GothamPro.woff' ) format( 'woff' ),
		url( '../assets/fonts/Gotham-Pro/GothamPro.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
